@charset "UTF-8";
@font-face{
        font-family: "UGent";
        src: url('http://users.ugent.be/~sjversto/fonts/ugentpannotext-normal-web.ttf'),
        url('http://users.ugent.be/~sjversto/fonts/ugentpannotext-normal-web.eot'); /* IE */
}
.ugentstyle {
    font-family: "UGent";
}

body {
    max-width:500px;
    background-color: white;
    margin-left: 15px;
    padding: 20px;
}

/* unvisited link */
a:link {
    color: #4180d3;
}

/* visited link */
a:visited {
    color: #4180d3;
}

/* mouse over link */
a:hover {
    color: #87baff; /* #9f43c6; */
}

/* selected link */
a:active {
    color: #87baff;
}

hr {
    height: 1px;
    color: grey;
    background: grey;
    font-size: 0;
    border: 0;
}

hr.heavy {
    height: 4px;
    color: grey;
    background: grey;
}

h1 {
    color: maroon;
    margin-left: 40px;
}

table.realtable, table.hovertable, table.sortable{
    
    /* new */    
    /*width:100%;
    display: inline-block;*/
    
    /* NEW */
    /*table-layout: fixed;
    width: 100%;*/
    
    border-collapse: collapse;
}

table.realtable, table.realtable th, table.realtable td, table.hovertable, table.hovertable th, table.hovertable td, table.sortable, table.sortable th, table.sortable td {
   border: 1px solid grey;
}

table.realtable th, table.realtable td, table.hovertable th, table.hovertable td, table.sortable th, table.sortable td {
    padding: 10px;
    text-align: left;
    
    /* new */
    /*max-width:100%;*/
}

table.hovertable tr:hover, table.sortable tr:hover{
    background-color: lightgrey;
} /* was #f5f5f5 */

/* Lists */
ul.a {list-style-type: circle;}
ul.b {list-style-type: square;}
ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}

/* FROM https://stackoverflow.com/questions/17584702/how-to-add-a-scrollbar-to-an-html5-table */
/* USAGE:

<div class="headercontainer">
  <div class="tablecontainer">

    <table>
      <thead>
        <tr>
          <th>
            Table attribute name
            <div>Table attribute name</div>
          </th>
          <th>
            Value
            <div>Value</div>
          </th>
          <th>
            Description
            <div>Description</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>...</td>
          <td>...</td>
          ...
        </tr>
        <tr>...</tr>
        ...
      </tbody>
    </table>

  </div>
</div>
*/

/* cell padding and bottom border */
.tablecontainer td, th {
  border-bottom:1px solid #eee;
  padding: 10px;
}

/* make the default header height 0 and make text invisible */
.tablecontainer th {
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    visibility: hidden;
    white-space: nowrap;
}

/* reposition the divs in the header cells and place in the blank area of the headercontainer */
.tablecontainer th div{
  visibility: visible;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 9px 10px;
  top: 0;
  margin-left: -10px;
  line-height: normal;
   border-left: 1px solid #222;
}

/* prevent the left border from above appearing in first div header */
th:first-child div{
  border: none;
}

/* alternate colors for rows */
.tablecontainer tbody  tr:nth-child(even){
     background-color: #ddd;
}

/* To center the content of divs */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

/* FOR IMAGE PREVIEW */
pre{
        display:block;
        /*font:100% "Courier New", Courier, monospace;*/
        font: 50% "UGent";
        font-family: "UGent";
        padding:10px;
        border:1px solid #bae2f0;
        background:#e3f4f9;	
        margin:.5em 0;
        overflow:auto;
        width:800px;
}

img, img.previewimg {
    border:none;
}

img.previewimg {
    width:100%;
    max-width:400px;
}

img.pixelated { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.thumbnail img {
    position: absolute;
}

/*  */

#preview{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    display:none;
    color:#fff;
}

/*  */
